Debug/**/*
Debug
Release
Test
MLEngine/Debug/**/*
MLEngine/Debug
MLEngine/Test/**/*
MLEngine/Test
MLTest/Debug
MLTest/Release
EDITOR/GameEngineRacer/[Rr]elease
EDITOR/GameEngineRacer/[Dd]ebug
TestResults
ipch
*.sdf
*.opensdf
